<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/deck.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <title>DeckShare</title>
</head>
<body>
    <nav class="nav-container">
        <h1 class="center nav-item-big"><a href="/">MTG DeckShare</a></h1>

        <li class="nav-item">
            <a href="/newdeck">New Deck</a>
        </li>
        <li class="nav-item">
            <a href="/faq">FAQ</a>
        </li>
        <li class="nav-item">
            <a href="https://brysoncoons.com/">Other Works</a>
        </li>
    </nav>


    <div class="center column">
        <div class="user-area">
            <div class="info-area">
                <div class="info-section">
                    <li class="info-item-big" data-id="<%= deck._id %>" id="deckName"><%= deck.deckName %></li></a>
                    <li class="info-item-big">Author: <%= deck.deckAuthor %></li></a>
                </div>
                <div class="info-section">
                    <a href="/editdeck/<%=deck._id%>"><li class="info-item function-link" id="editButton">Edit Deck</li></a>
                    <li class="info-item function-link" id="deleteButton">Delete Deck</li>
                </div>
            </div>

            <h2 class="center">ALL CARDS:</h2>

            <ul class="image-area">

                <% for (let i = 0; i < deck.cards.length; i++) { %>
                    <li class="center deck-list-entry">
                        <img class="card-image animate__animated animate__fadeInLeft" src=<%= images[i] %>>
                        <span class="bold"><%= deck.cards[i].name %></span>
                        <span>x<%= deck.cards[i].amount %></span>
                    </li>
                <% } %>
        
            </ul>
        </div>
    </div>

    <script src="/js/deck.js"></script>
</body>
</html>